
body {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*NAVIGATION*/
nav .brand-logo {
  color: #62BECB;
  font-size: 3rem;
  font-family: 'Quicksand: 700', sans-serif;
}
.nav-wrapper {
  color: #62BECB;
  font-family: 'Quicksand: 700', sans-serif;
}
nav {
  background-color: #3F4038;
  min-height: 10vh;
}
/************************************/

/*MAIN*/
main {
  flex: 1 0 auto;
  padding-top: 20px;
}
/*FORM*/
#input {
  color: white;
  font-size: 1rem;
  font-family: 'Quicksand: 700', sans-serif;
  background-color: rgba(80, 80, 80, 0.5);
}
.row .col{
  padding: 0 2rem;
}
/*.label {
  color: white;
  font-family: 'Quicksand: 700', sans-serif;
}*/
button {
  font-size: 1rem;
  font-weight: normal;
}
.highlight {
  color: white;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(80, 80, 80, 0.5);
  font-weight: bold;
}
/*END of FORM*/

.responsive-img{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/*FOOTER*/
footer.page-footer {
 background-color: #3F4038;
 font-family: 'Quicksand', sans-serif;
 z-index: 10;
}
html{
  height: 100%;
}
